// font-family: 'Poppins', sans-serif; // font-family: 'Cutive', serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); //  font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap'); // font-family: 'Oxygen', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap'); // font-family: 'Heebo', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
//////////////////////////////////////////
//
//
//           MOUSE CSS WEBKIT
//
//
//////////////////////////////////////////
::-webkit-scrollbar{
   width: 1vh;
}
::-webkit-scrollbar-track{
    background: rgba($color: #000000, $alpha: 1.0);
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(192, 163, 33); 
    border-radius: 10px;
}

:root{
    font-size: 15px;
    position: relative;
}

////////////////////////////////////////////////////////
//
//
//                    SCSS/SASS
//
//
////////////////////////////////////////////////////////
.container-main{
    background: rgba($color: #000000, $alpha: 1.0);
    height: auto;
    position: relative;
    overflow: hidden;
    .container-1{
       background: rgba($color: #000000, $alpha: 1.0);
        height: auto;
        .inner-container-spacing{
            background: rgba($color: #aa3232, $alpha: 0);
            height: auto;
            display: grid;
            align-items: center;
            justify-content: center;
            .img-container{
                background: rgba($color: #886969, $alpha: 0);
                height: 135vh;
                width: 80vw;
                display: grid;
                align-items: flex-end;
                justify-content: center;
                .me{
                    margin-bottom: 20vh;
                    height: 40vh;
                    clip-path: circle(45%);
                }
            }
        }

        ///////////////////////////////////////////////////////

        .about-me-container{
            background: rgba($color: #5f4747, $alpha: 0);
            height:auto;
            display: grid;
            align-items: flex-start;
            justify-content: center;
            .about-text-container{
                background: rgba($color: #d67e7e, $alpha: 0);
                height:auto;
                width: 1000px;
                display: grid;
                align-items: flex-start;
                justify-content: center;
                .about-me{
                    font-family: 'Heebo', sans-serif;
                    text-align: left;
                    font-size: 3.4rem;
                    line-height: 4.5rem;
                    color: rgba($color: #dfdfdf, $alpha: 1.0);
                    padding-bottom: 20vh;
                }
            }
        }

        ///////////////////////////////////////////////////

        .works-container{
            background: rgba($color: #6e3737, $alpha: 0);
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .works-1{
                background: rgba($color: #3ce992, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                    filter: grayscale(100%);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-2{
                background: rgba($color: #d1b432, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-3{
                background: rgba($color: #dbdfdb, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-1:hover{
                width: 60vw;
            }
            .works-2:hover{
                width: 60vw;
            }
            .works-3:hover{
                width: 60vw;
            }
           
        }

        ///////////////////////////////////////////////////////////

        .works-container-list{
            background: rgba($color: #994848, $alpha: 0);
            height: 100vh;
            display: grid;
            align-items: flex-end;
            justify-content: center;
            .works-list-inner{
                background: rgba($color: #c5b737, $alpha: 0);
                height: 45vh;
                width: 100vw;
                .date-container{
                    background: rgba($color: #adb447, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .date{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        color: rgba($color: #929292, $alpha: 1.0);
                        cursor: default;
                    }
                }
                .work-text-container{
                    background: rgba($color: #9b8181, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .works-text{
                        font-family: 'Oswald', sans-serif;
                        font-size: 3rem;
                        letter-spacing: .5rem;
                        color: rgba($color: #c5c5c5, $alpha: 1.0);
                        cursor: pointer;
                        transition: .5s;
                        padding: 1vw;
                    }
                    .works-text:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        outline-style: dotted;
                    } 
                }
                .hashtag-container{
                    background: rgba($color: #922121, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;  
                    .hashtag{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        text-decoration: underline;
                        letter-spacing: .1rem;
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        transition: .3s;
                        cursor: pointer;
                    } 
                    .hashtag:hover{
                        color: rgba($color: #e9e9e9, $alpha: 1.0);
                    }
                }
            }
        }

        .css-tips-container{
            background: rgba($color: #868042, $alpha: 0);
            height: 100vh;
            display: grid;
            align-items: center;
            justify-content: center;
            .css-list-inner{
                background: rgba($color: #c5b737, $alpha: 0);
                height: 45vh;
                width: 100vw;
                .date-container{
                    background: rgba($color: #adb447, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .date{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        color: rgba($color: #929292, $alpha: 1.0);
                        cursor: default;
                    }
                }
                .css-text-container{
                    background: rgba($color: #9b8181, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .css-text{
                        font-family: 'Oswald', sans-serif;
                        font-size: 3rem;
                        letter-spacing: .5rem;
                        color: rgba($color: #c5c5c5, $alpha: 1.0);
                        cursor: pointer;
                        transition: .5s;
                        padding: 1vw;
                    }
                    .css-text:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        outline-style: dotted;
                    }
                }
                .hashtag-container{
                    background: rgba($color: #922121, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;  
                    .hashtag{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        text-decoration: underline;
                        letter-spacing: .1rem;
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        transition: .3s;
                        cursor: pointer;
                    } 
                    .hashtag:hover{
                        color: rgba($color: #e9e9e9, $alpha: 1.0);
                    }
                }
            }
        }

        .footer{
            background: rgba($color: #3a3a3a, $alpha: 0);
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .copyright-container{
                background: rgba($color: #8f5f5f, $alpha: 0);
                height: 20vh;
                width: 70vw;
                display: flex;
                align-items: center;
                justify-content: left;
                .copyright-text{
                    margin-left: 7vw;
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: .1rem;
                    font-size: .75rem;
                    color: rgba($color: #ffffff, $alpha: 1.0);
                }
            }
            .footer-logo{
                background: rgba($color: #9e973a, $alpha: 0);
                height: 20vh;
                width: 25vw;
                display: flex;
                align-items: center;
                justify-content: center;
                .inner-footer-logo{
                    background: rgba($color: #0d6ebd, $alpha: 0);
                    height: 7vh;
                    width: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .footer-logo{
                        background: rgba($color: #5f3838, $alpha: 0);
                        height: 7vh;
                        width: 60px;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fa-github{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }
                        .fa-facebook-f{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }
                        .fa-telegram-plane{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }

                        /////////////////

                        .fa-github:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                        .fa-facebook-f:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                        .fa-telegram-plane:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                    }
                }
            }
        }




    }
    
    //////////////////////////////////////////////////////////////
    //
    //
    //                    FRONT PAGE COVER 
    //
    //
    //////////////////////////////////////////////////////////////

    .front-cover{
        background: rgba($color: #000000, $alpha: 0.9);
        height: 100vh;
        position: absolute;
        position: fixed;
        top: 0;
        transition: .5;
        opacity: 0;
        display: block;
        .first_layer{
            background: rgba($color: #000000, $alpha: 0);
            height: 20vh;
            display: flex;
            position: relative;
            .name{
                background: rgba($color: #7c5c5c, $alpha: 0);
                height: 20vh;
                width: 20vw;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(-40%);
                opacity: 0;
                .name-text{
                    font-size: 1.7rem;
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: .2rem;
                    color: rgba($color: #ffffff, $alpha: 1);
                    animation: 2s name linear infinite;
                    opacity: 0.5;
                    cursor: pointer;
                }
                .name-text:hover{
                    border: 0px dotted;
                    padding: 2px 10px;
                    color: rgba($color: #fddb18, $alpha: 1.0);
                }
                @keyframes name {
                    0%{
                        opacity: 0.5;
                    }
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0.5;
                    }
                }
            }
            .change-color{
                background: rgba($color: #7c5c5c, $alpha: 0);
                height: 20vh;
                width: 20vw;
                position: absolute;
                right: 0;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(-40%);
                opacity: 0;
                .switch-black{
                    background: rgba($color: #ffffff, $alpha: 1.0);
                    height: 3vh;
                    width: 55px;
                    border-radius: 2rem;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    .switcher{
                        background: rgba($color: #000000, $alpha: 1.0);
                        height: 3vh;
                        width: 25px;
                        clip-path: circle(30%);
                        cursor: pointer;
                    }
                }
                .switch-white{
                    background: rgba($color: #353535, $alpha: 1.0);
                    height: 3vh;
                    width: 55px;
                    border-radius: 2rem;
                    display: grid;
                    align-items: center;
                    justify-content: right;
                    .switcher{
                        background: rgba($color: #ffffff, $alpha: 1.0);
                        height: 3vh;
                        width: 25px;
                        clip-path: circle(30%);
                        cursor: pointer;
                    }
                }
            }
        }

        /////////////////////

        .second_layer{
            background: rgba($color: #b16767, $alpha: 0);
            height: 60vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .label-containter{
                background: rgba($color: #8b5959, $alpha: 0);
                width: 15vw;
                height: 60vh;
                display: grid;
                transition: 1s;
                opacity: 0;
                align-items: flex-start;
                justify-content: center;
                transform: translateX(-50%);
                .line-1{
                    background: rgba($color: #ffffff, $alpha: 1.0);
                    margin-top: 5vh;
                    height: 50vh;
                    width: .25vw;
                    opacity: 1;
                }
            }
            .title-container{
                background: rgba($color: #7e3333, $alpha: 0);
                height: 60vh;
                width: 70vw;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(-100px);
                opacity: 0;
                transition: 1s;
                cursor: default;
                .title{
                    font-family: 'Oxygen', sans-serif;
                    font-weight: bold;
                    letter-spacing: .3rem;
                    font-size: 5rem;
                    color: rgba($color: #ffffff, $alpha: 1.0);
                }
            }
            .title-spacing{
                background: rgba($color: #000000, $alpha: 0);
                width: 15vw;
                height: 60vh;
                display: grid;
                transition: 1s;
                opacity: 0;
                align-items: flex-start;
                justify-content: center;
                transform: translateX(50%);
                .line-2{
                    background: rgba($color: #ffffff, $alpha: 1.0);
                    margin-top: 5vh;
                    height: 50vh;
                    width: .25vw;
                    opacity: 1; 
                }
            }
        }

        ///////////////////////

        .third_layer{
            background: rgba($color: #a07d7d, $alpha: 0);
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .meter{
                background: rgba($color: #8c923a, $alpha: 0);
                height: 20vh;
                width: 75vw;
                display: flex;
                justify-content: left;
                align-items: center;
                transform: translateY(40%);
                opacity: 0;
                .acceptproject-text{
                    margin-left: 4vw;
                    font-size: 1.2rem;
                    letter-spacing: 6px;
                    font-family: 'Oswald', sans-serif;
                    color: rgba($color: #ffffff, $alpha: 1.0);
                }
            }
            .links{
                background: rgba($color: #553a3a, $alpha: 0);
                height: 20vh;
                width: 25vw;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(40%);
                opacity: 0;
                .logo-container{
                    background: rgba($color: #000000, $alpha: 0);
                    height: 7vh;
                    width: auto;
                    display: flex;
                    .logo{
                        background: rgba($color: #b49999, $alpha: 0);
                        height: 7vh;
                        width: 60px;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        .fa-github{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }
                        .fa-facebook-f{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }
                        .fa-telegram-plane{
                            color: rgba($color: #ffffff, $alpha: 0.5);
                        }

                        /////////////////

                        .fa-github:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        .fa-facebook-f:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        .fa-telegram-plane:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        
                    }
                }
            }
        }
    }

}
































//////////////////////////////////////////////////////////////////////////////////////////
//
//
//                                  WHITE THEME
//
//
//////////////////////////////////////////////////////////////////////////////////////////

.container-main-white{
    background: rgba($color: #ffffff, $alpha: 1.0);
    height: auto;
    position: relative;
    overflow: hidden;
    .container-1{
       background: rgba($color: #ffffff, $alpha: 1.0);
        height: auto;
        .inner-container-spacing{
            background: rgba($color: #aa3232, $alpha: 0);
            height: auto;
            display: grid;
            align-items: center;
            justify-content: center;
            .img-container{
                background: rgba($color: #886969, $alpha: 0);
                height: 135vh;
                width: 80vw;
                display: grid;
                align-items: flex-end;
                justify-content: center;
                .me{
                    margin-bottom: 20vh;
                    height: 40vh;
                    clip-path: circle(45%);
                }
            }
        }

        ///////////////////////////////////////////////////////

        .about-me-container{
            background: rgba($color: #5f4747, $alpha: 0);
            height:auto;
            display: grid;
            align-items: flex-start;
            justify-content: center;
            .about-text-container{
                background: rgba($color: #d67e7e, $alpha: 0);
                height:auto;
                width: 1000px;
                display: grid;
                align-items: flex-start;
                justify-content: center;
                .about-me{
                    font-family: 'Heebo', sans-serif;
                    text-align: left;
                    font-size: 3.4rem;
                    line-height: 4.5rem;
                    color: rgba($color: #000000, $alpha: 1.0);
                    padding-bottom: 20vh;
                }
            }
        }

        ///////////////////////////////////////////////////

        .works-container{
            background: rgba($color: #6e3737, $alpha: 0);
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .works-1{
                background: rgba($color: #3ce992, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                    filter: grayscale(100%);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-2{
                background: rgba($color: #d1b432, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-3{
                background: rgba($color: #dbdfdb, $alpha: 1.0);
                height: 90vh;
                width: 33.33vw;
                transition: 1s;
                cursor: pointer;
                display: grid;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                .img-work-1{
                    height: 310px;
                    box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 1.0);
                }
                .work-title-container{
                    background: rgba($color: #52807d, $alpha: 0);
                    height: 20vh;
                    width: 100vw;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    position: absolute;
                    bottom: 0;
                    .work-text-container{
                        background: rgba($color: #56b1b1, $alpha: 0);
                        height: 15vh;
                        width: 20vw;
                        margin-left: 3vw;
                        display: grid;
                        align-items: center;
                        justify-content: left;
                        .type{
                            font-family: 'Poppins', sans-serif;
                            font-size: 1.5rem;
                        }  
                        .type-text{
                            font-family: 'Oxygen', sans-serif;
                            font-size: 1rem;
                        }  
                    }
                }
            }
            .works-1:hover{
                width: 60vw;
            }
            .works-2:hover{
                width: 60vw;
            }
            .works-3:hover{
                width: 60vw;
            }
           
        }

        ///////////////////////////////////////////////////////////

        .works-container-list{
            background: rgba($color: #994848, $alpha: 0);
            height: 100vh;
            display: grid;
            align-items: flex-end;
            justify-content: center;
            .works-list-inner{
                background: rgba($color: #c5b737, $alpha: 0);
                height: 45vh;
                width: 100vw;
                .date-container{
                    background: rgba($color: #adb447, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .date{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        cursor: default;
                    }
                }
                .work-text-container{
                    background: rgba($color: #9b8181, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .works-text{
                        font-family: 'Oswald', sans-serif;
                        font-size: 3rem;
                        letter-spacing: .5rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        cursor: pointer;
                        transition: .5s;
                        padding: 1vw;
                    }
                    .works-text:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        outline-style: dotted;
                    } 
                }
                .hashtag-container{
                    background: rgba($color: #922121, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;  
                    .hashtag{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        text-decoration: underline;
                        letter-spacing: .1rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        transition: .3s;
                        cursor: pointer;
                    } 
                    .hashtag:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                    }
                }
            }
        }

        .css-tips-container{
            background: rgba($color: #868042, $alpha: 0);
            height: 100vh;
            display: grid;
            align-items: center;
            justify-content: center;
            .css-list-inner{
                background: rgba($color: #c5b737, $alpha: 0);
                height: 45vh;
                width: 100vw;
                .date-container{
                    background: rgba($color: #adb447, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .date{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        cursor: default;
                    }
                }
                .css-text-container{
                    background: rgba($color: #9b8181, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    .css-text{
                        font-family: 'Oswald', sans-serif;
                        font-size: 3rem;
                        letter-spacing: .5rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        cursor: pointer;
                        transition: .5s;
                        padding: 1vw;
                    }
                    .css-text:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                        outline-style: dotted;
                    }
                }
                .hashtag-container{
                    background: rgba($color: #922121, $alpha: 0);
                    height: 15vh;
                    display: grid;
                    align-items: center;
                    justify-content: center;  
                    .hashtag{
                        font-family: 'Heebo', sans-serif;
                        font-size: 1.8rem;
                        text-decoration: underline;
                        letter-spacing: .1rem;
                        color: rgba($color: #000000, $alpha: 1.0);
                        transition: .3s;
                        cursor: pointer;
                    } 
                    .hashtag:hover{
                        color: rgba($color: #d1b432, $alpha: 1.0);
                    }
                }
            }
        }

        .footer{
            background: rgba($color: #3a3a3a, $alpha: 0);
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .copyright-container{
                background: rgba($color: #8f5f5f, $alpha: 0);
                height: 20vh;
                width: 70vw;
                display: flex;
                align-items: center;
                justify-content: left;
                .copyright-text{
                    margin-left: 7vw;
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: .1rem;
                    font-size: .75rem;
                    color: rgba($color: #000000, $alpha: 1.0);
                }
            }
            .footer-logo{
                background: rgba($color: #9e973a, $alpha: 0);
                height: 20vh;
                width: 25vw;
                display: flex;
                align-items: center;
                justify-content: center;
                .inner-footer-logo{
                    background: rgba($color: #0d6ebd, $alpha: 0);
                    height: 7vh;
                    width: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .footer-logo{
                        background: rgba($color: #5f3838, $alpha: 0);
                        height: 7vh;
                        width: 60px;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .fa-github{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }
                        .fa-facebook-f{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }
                        .fa-telegram-plane{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }

                        /////////////////

                        .fa-github:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                        .fa-facebook-f:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                        .fa-telegram-plane:hover{
                            color: rgba($color: #d1b432, $alpha: 1.0);
                        }
                    }
                }
            }
        }




    }
    
    //////////////////////////////////////////////////////////////
    //
    //
    //                    FRONT PAGE COVER 
    //
    //
    //////////////////////////////////////////////////////////////

    .front-cover{
        background: rgba($color: #ffffff, $alpha: 0.7);
        height: 100vh;
        position: absolute;
        position: fixed;
        top: 0;
        transition: .5;
        opacity: 0;
        display: block;
        .first_layer{
            background: rgba($color: #000000, $alpha: 0);
            height: 20vh;
            display: flex;
            position: relative;
            .name{
                background: rgba($color: #7c5c5c, $alpha: 0);
                height: 20vh;
                width: 20vw;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(-40%);
                opacity: 0;
                .name-text{
                    font-size: 1.7rem;
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: .2rem;
                    color: rgba($color: #000000, $alpha: 1);
                    animation: 2s name linear infinite;
                    opacity: 0.5;
                    cursor: pointer;
                }
                .name-text:hover{
                    border: 0px dotted;
                    padding: 2px 10px;
                    color: rgba($color: #fddb18, $alpha: 1.0);
                }
                @keyframes name {
                    0%{
                        opacity: 0.5;
                    }
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0.5;
                    }
                }
            }
            .change-color{
                background: rgba($color: #7c5c5c, $alpha: 0);
                height: 20vh;
                width: 20vw;
                position: absolute;
                right: 0;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(-40%);
                opacity: 0;
                .switch-black{
                    background: rgba($color: #000000, $alpha: 1.0);
                    height: 3vh;
                    width: 55px;
                    border-radius: 2rem;
                    display: grid;
                    align-items: center;
                    justify-content: left;
                    .switcher{
                        background: rgba($color: #ffffff, $alpha: 1.0);
                        height: 3vh;
                        width: 25px;
                        clip-path: circle(30%);
                        cursor: pointer;
                    }
                }
                .switch-white{
                    background: rgba($color: #000000, $alpha: 1.0);
                    height: 3vh;
                    width: 55px;
                    border-radius: 2rem;
                    display: grid;
                    align-items: center;
                    justify-content: right;
                    .switcher{
                        background: rgba($color: #ffffff, $alpha: 1.0);
                        height: 3vh;
                        width: 25px;
                        clip-path: circle(30%);
                        cursor: pointer;
                    }
                }
            }
        }

        /////////////////////

        .second_layer{
            background: rgba($color: #b16767, $alpha: 0);
            height: 60vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .label-containter{
                background: rgba($color: #8b5959, $alpha: 0);
                width: 15vw;
                height: 60vh;
                display: grid;
                transition: 1s;
                opacity: 0;
                align-items: flex-start;
                justify-content: center;
                transform: translateX(-50%);
                .line-1{
                    background: rgba($color: #000000, $alpha: 1.0);
                    margin-top: 5vh;
                    height: 50vh;
                    width: .25vw;
                    opacity: 1;
                }
            }
            .title-container{
                background: rgba($color: #7e3333, $alpha: 0);
                height: 60vh;
                width: 70vw;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(-100px);
                opacity: 0;
                transition: 1s;
                cursor: default;
                .title{
                    font-family: 'Oxygen', sans-serif;
                    font-weight: bold;
                    letter-spacing: .3rem;
                    font-size: 5rem;
                    color: rgba($color: #000000, $alpha: 1.0);
                }
            }
            .title-spacing{
                background: rgba($color: #000000, $alpha: 0);
                width: 15vw;
                height: 60vh;
                display: grid;
                transition: 1s;
                opacity: 0;
                align-items: flex-start;
                justify-content: center;
                transform: translateX(50%);
                .line-2{
                    background: rgba($color: #000000, $alpha: 1.0);
                    margin-top: 5vh;
                    height: 50vh;
                    width: .25vw;
                    opacity: 1; 
                }
            }
        }

        ///////////////////////

        .third_layer{
            background: rgba($color: #a07d7d, $alpha: 0);
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .meter{
                background: rgba($color: #8c923a, $alpha: 0);
                height: 20vh;
                width: 75vw;
                display: flex;
                justify-content: left;
                align-items: center;
                transform: translateY(40%);
                opacity: 0;
                .acceptproject-text{
                    margin-left: 4vw;
                    font-size: 1.2rem;
                    letter-spacing: 6px;
                    font-family: 'Oswald', sans-serif;
                    color: rgba($color: #000000, $alpha: 1.0);
                }
            }
            .links{
                background: rgba($color: #553a3a, $alpha: 0);
                height: 20vh;
                width: 25vw;
                display: grid;
                align-items: center;
                justify-content: center;
                transform: translateY(40%);
                opacity: 0;
                .logo-container{
                    background: rgba($color: #000000, $alpha: 0);
                    height: 7vh;
                    width: auto;
                    display: flex;
                    .logo{
                        background: rgba($color: #b49999, $alpha: 0);
                        height: 7vh;
                        width: 60px;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        .fa-github{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }
                        .fa-facebook-f{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }
                        .fa-telegram-plane{
                            color: rgba($color: #000000, $alpha: 0.5);
                        }

                        /////////////////

                        .fa-github:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        .fa-facebook-f:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        .fa-telegram-plane:hover{
                            color: rgba($color: #fddb18, $alpha: 1.0);
                        }
                        
                    }
                }
            }
        }
    }

}



